<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Gdp.Mdlp.Console.Properties.Settings.WhlConnectionString"
      connectionString="Data Source=SQLSERVERA2\Oriola;Initial Catalog=Whl;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Gdp.Mdlp.Console.Properties.Settings.ViadatConnectionString"
      connectionString="Data Source=SQLSERVERA2\Oriola;Initial Catalog=WMS_NDC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MdlpEntities" connectionString="metadata=res://*/MdlpEntities.csdl|res://*/MdlpEntities.ssdl|res://*/MdlpEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLSERVERA3\SRVHARMON;initial catalog=Mdlp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Gdp.Mdlp.Console.Properties.Settings.MdlpConnectionString"
      connectionString="Data Source=SQLSERVERA3\SRVHARMON;Initial Catalog=Mdlp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="10000KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [Thread:%thread] %-5level %logger- %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="ConAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [Thread:%thread] %-5level %logger- %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>